@font-face {
    font-family: 'Quiche Flare bold';
    src: url('fonts/fontspring-quicheflare-bold-webfont.woff2') format('woff2'),
    url('fonts/fontspring-quicheflare-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Grotesque Medium';
    src: url('fonts/hvdtrial_brandon_grotesque_medium.woff2') format('woff2'),
    url('fonts/hvdtrial_brandon_grotesque_medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}