$themecolor : #002A4C;

$white : #ffffff;
$black : #000000;

$red : #DA3832;
$redhover : #b5231e;
$blue: #132F6B;

$quicheBold :  'Quiche Flare bold';
$BrandonmMedium : 'Brandon Grotesque Medium';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);